<a href="https://colab.research.google.com/github/NSankalp/Python/blob/main/Lists_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LISTS
1)index and position
2)append

In [9]:
fruit=["apple","orange","mango","grapes","banana"]
print(fruit)
print(fruit[0])
print(fruit[-1])
print(fruit[0:3])
print(fruit[:2])
print(fruit[2:])

['apple', 'orange', 'mango', 'grapes', 'banana']
apple
banana
['apple', 'orange', 'mango']
['apple', 'orange']
['mango', 'grapes', 'banana']

In [34]:
fruit=["apple","orange","mango","grapes","banana"]

(fruit.append("guava")) #adds the fruit at the end
print(type(fruit))
(fruit.insert(3,"kiwi"))#inserts the fruit at the position we want. The number indicates the index value.
print(fruit)
(fruit.remove("guava"))#removes the fruit 
print(fruit)
(fruit.extend("mango"))#divides the string into multiple strings
print(fruit)
(fruit.pop(3))#removes the fruit
print(fruit)
#fruit.clear()#clears the list
#sort
num=[145,20,340,40,510]
num.sort()
print(num)

print(len(fruit))

<class 'list'>
['apple', 'orange', 'mango', 'kiwi', 'grapes', 'banana', 'guava']
['apple', 'orange', 'mango', 'kiwi', 'grapes', 'banana']
['apple', 'orange', 'mango', 'kiwi', 'grapes', 'banana', 'm', 'a', 'n', 'g', 'o']
['apple', 'orange', 'mango', 'grapes', 'banana', 'm', 'a', 'n', 'g', 'o']
[20, 40, 145, 340, 510]
10

In [23]:
players=["warner","kane","rohit","dhoni"]
print(players)
players.append("conway")
print(players)
players.insert(2,"bumrah")
print(players)
players

['warner', 'kane', 'rohit', 'dhoni']
['warner', 'kane', 'rohit', 'dhoni', 'conway']
['warner', 'kane', 'bumrah', 'rohit', 'dhoni', 'conway']

In [31]:
#sorting

#in ascending order
num=[145,20,340,40,510]
num.sort()
print(num)
#descending order
num.sort(reverse= True)
print(num)
#in ascending order for string
alph=['g','r','k','a']
alph.sort()
print(alph)
#descending order
alph.sort(reverse= True)
print(alph)

[20, 40, 145, 340, 510]
[510, 340, 145, 40, 20]
['a', 'g', 'k', 'r']
['r', 'k', 'g', 'a']

In [32]:
fruit=["apple","orange","mango","grapes","banana"]
for i in fruit:
  print(i)
for

apple
orange
mango
grapes
banana

In [ ]:
num=[]
for i in range(1,100):