<a href="https://colab.research.google.com/github/NSankalp/Python/blob/main/Module_2_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
def color():

 colors = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
 colors.remove("Red")
 colors.remove("Pink")
 colors.remove("Yellow")
 print(colors)

color()

['Green', 'White', 'Black']

Program to get the difference between the two lists.

In [ ]:
list1=[1,3,4,6,8]
list2=[4,7,6,5,2]
diff1=list(set(list1)-set(list2))
diff2=list(set(list2)-set(list1))
total=diff1+diff2
print(total)

[8, 1, 3, 2, 5, 7]

Program to find the second smallest number and second largest number in a list.

In [ ]:
nums=[12,36,44,72,23,68]
length=len(nums)
nums.sort()
print("second smallest element",nums[1])
print("second largest element",nums[length-2])

second smallest element 23
second largest element 68

Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def nCr(a,b):
  return(fact(a)/fact(b)*fact(a-b))

a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range(2,a+1):
    res=res*i
  return res
print(int(nCr(a,b)))

2
1
2

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the 
numbers.

In [ ]:
nums=[12,36,44,72,23,68]
print(list)

tup=[(num, pow(num,2)) for num in nums]
print(tup)

<class 'list'>
[(12, 144), (36, 1296), (44, 1936), (72, 5184), (23, 529), (68, 4624)]

Given list of tuples, remove all the tuples with length K.

In [ ]:
list1 = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=2
result=[a for a in list1 if len(a)!=k]
print(result)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Program to generate and print a dictionary that contains a number (between 1
and n)

In [ ]:
n=int(input("a"))
d=dict()

for i in range(1,n+1):
  d[i]=i*i
  
print(d)

a5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

x Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [ ]:
abc="RRR is a good movie"
c=0
for x in abc:
  if x<="Z" and x>="A":
    c=c+1
  
print(c)

3

I have to go to a doctor and get myself checked. Count the number of
occurrences of to.

In [ ]:
abc="I have to go to a doctor and get myself checked"
abc.count("to")

3

Program for replacing one substring by another For example - Rabbit - Replace "bb" by "cc"

In [ ]:
abc="rabbit"
abc.replace("bb","cc")
print(abc)

rabbit

removing a key from dict

In [ ]:
myDict = {'a':1,'b':2,'c':3,'d':4}
if 'a' in myDict: 
    del myDict['a']
print(myDict)